# MQTT Broker
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_DATA=sensor/data
MQTT_TOPIC_ALERT=sensor/alert
MQTT_TOPIC_AGG=sensor/agg

# Database
DATABASE_URL=sqlite+aiosqlite:///./sensor_data.db

# Server
HOST=0.0.0.0
PORT=8007

# Alert Thresholds
SUHU_MAX=35.0
SUHU_MIN=10.0
KELEMBABAN_MAX=90.0
KELEMBABAN_MIN=20.0
CAHAYA_MAX=4000
TANAH_MAX=3000
TANAH_MIN=500
