# Server
PORT=8008

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=p8user
POSTGRES_PASSWORD=p8pass
POSTGRES_DB=percobaan8

# MQTT Broker
MQTT_BROKER=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=percobaan8-backend

# WebSocket
WS_PATH=/ws
